/*Reseteo de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media(min-width=1200px) {
    

}

ul li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ======INDEX====== */

/* ------Portada------ */

.portada {
    background-color: blue;
    height: 100vh;

    background-image: url(../img/pexels-mali-maeder-219101.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portada-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
        

} 

/* -----Servicios----- */

.servicios {
    background-color: #3a0ca3;
}

.nuestros-servicios-titulo {
    padding: 15px;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.servicios-enlace:link {
    color:aliceblue;
    outline: none;
    text-decoration: none;
}

.servicios-enlace:visited {
    color: aliceblue;
    
    text-decoration: none;
}

.titulos-h2 {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-block-end: 0px;
  }


.tarjeta {
    background-color: #4361ee;
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;

}

.tarjeta-img {
    width: 100%;

}

.tarjeta-body {
    height: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 10px;
    align-self: center;
  }
  
  .btn:hover {
    background-color: white;
    color: #4361ee;
  }

  /* -----Footer----- */

footer {
    background-color: #10002b;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.logos-contacto {
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-block-end: 0px;
  }

.logos-contacto a {
    text-decoration: none;
    font-size: 2.5rem;

}

.icon-fb {
    
    height: 50px;
    width: 50px;
}

.icon-ig {
    
    height: 50px;
    width: 50px;
}

.icon-mail {
    
    height: 50px;
    width: 50px;
}

/* -----Nosotros----- */

.caja-nosotros {
    background-color: #3a0ca3;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     

}

.presentacion {
    /* poner img */
    background-color: aliceblue;
    height: 300px;
    width: 200px;
}

/* -----Eventos----- */

.agenda {
    height: 500px;
    background-color: #3a0ca3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agenda-titulo {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;

}

.calendario {
    
    background-color: crimson;
    border: 2px solid white;
    text-align: center;
    color: aliceblue;
    height: 400px;
    width: 400px;


}

/* -----Contacto----- */
.contacto {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: #10002b;
    
}

.formulario-titulo {
    margin-block-start: 10px;
    background-color: #3c096c;
}

