/*Reseteo de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media(min-width=1200px) {
    

}

ul li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ======INDEX====== */

/* ------Portada------ */

.portada {
    background-color: blue;
    height: 100vh;

    background-image: url(../img/pexels-mali-maeder-219101.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portada-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px aliceblue;
        

} 

/* -----Servicios----- */

.servicios {
    background-color: #3C096C;
}

.nuestros-servicios-titulo {
    padding: 10px;
    background-color: black;
    color: #E0AAFF;
    /* padding: 15px; */
    text-align: center;
    margin-block-end: 0px;

}

.servicios-enlace:link {
    color:#E0AAFF;
    outline: none;
    text-decoration: none;
}

.servicios-enlace:visited {
    color: #E0AAFF;
    
    text-decoration: none;
}

.servicios-enlace:hover {
    color: #C77DFF;
    
    text-decoration: none;
}

.titulos-h2 {
    background-color: black;
    color: #E0AAFF;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-block-end: 0px;
  }

.contenedor-tarjetas {
    display: flex;
    gap: 20px;
    padding: 10px;
    
}

.tarjeta {
    background-color: #7B2CBF;
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

}

.tarjeta-img {
    width: 100%;
    height: 50%;

}

.tarjeta-body {
    color: #E0AAFF;
    height: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn {
    background-color: #240046;
    color: #E0AAFF;
    border: 2px solid #E0AAFF;
    border-radius: 10px;
    padding: 8px 10px;
    align-self: center;
  }
  
  .btn:hover {
    background-color: #E0AAFF;
    color: #5A189A;
  }

  /* -----Footer----- */

footer {
    background-color: #10002b;
    color: #E0AAFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.logos-contacto {
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-block-end: 0px;
  }

.logos-contacto a {
    text-decoration: none;
    font-size: 2.5rem;

}
.logos-contacto a:link {
    color:#E0AAFF;
    outline: none;
    text-decoration: none;
}

.logos-contacto a:visited {
    color: #E0AAFF;
    
    text-decoration: none;
}

.logos-contacto a:hover {
    color: #C77DFF;
    
    text-decoration: none;
}

/* -----Nosotros----- */
.contenedor-nosotros{
    
    background-color: #3C096C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion {
background-color: #7B2CBF;
width: 300px;
height: 500px;
border: 2px solid black;
border-radius: 5px;
overflow: hidden;
text-align: center;
padding: 5px;
}

.presentacion-destacada {
background-color: #7B2CBF;
width: 300px;
height: 500px;
border: 2px solid black;
border-radius: 5px;
overflow: hidden;
text-align: center;
padding: 5px;
}

.presentacion-destacada img {
height: 80%;
width: 100%;
}

.presentacion img {
height: 80%;
width: 100%;
}


@media(min-width: 1200px) {
    .contenedor-nosotros {
        background-color: #3C096C;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, minmax(300px, 20vh));
        align-items: center;
        justify-items: center;
        gap: 15px;
        padding: 15px;
    
    }

    .presentacion {
        width: 100%;
        height: 100%;
    }

    .presentacion-destacada img {
        height: 80%;
        width: 100%;
        }

    .presentacion-destacada{
        background-color: #7B2CBF;
        border: 2px solid black;
        height: 90%;
        width: 50%;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        padding: 5px;
        

        grid-row: span 2;
        grid-column: span 3;

    }

}

/* -----Eventos----- */

.agenda {
    height: 500px;
    background-color: #3a0ca3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agenda-titulo {
    background-color: black;
    color: #E0AAFF;
    padding: 15px;
    text-align: center;

}

.calendario {
    
    background-color: crimson;
    border: 2px solid #E0AAFF;
    text-align: center;
    color: #E0AAFF;
    height: 400px;
    width: 400px;


}

/* -----Contacto----- */
.contacto {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E0AAFF;
    background-color: #10002b;
    
}

.formulario-titulo {
    margin-block-start: 10px;
    background-color: #3c096c;
}

