.contacto-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    color: #E0AAFF;
    background-color: #10002b;
    padding: 15px;
    height: 100vh;

    &-titulo {
        filter: drop-shadow(5px 5px 15px #E0AAFF);
    }

    &-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(5px 5px 15px black);
    }

}

.mapa {
    height: 60vh;
    width: 50vw;
    filter: drop-shadow(5px 5px 15px black);
}

@media(max-width: 800px) {
    .contacto-formulario {
        flex-direction: column;
    }
    .mapa {
        height: 50vh;
        width: 80vw;
    }
}