.portada {
    background-color: $color-background;
    height: 100vh;

    background-image: url(../img/pexels-mali-maeder-219101.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: start;
    justify-content: center;

    &-texto {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        -webkit-text-stroke: 1px aliceblue;
        margin-block-start: 340px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        font: normal 2rem/normal "Warnes", Helvetica, sans-serif;
        color: #00000070;
        text-decoration: normal;

        -o-text-overflow: clip;
        text-overflow: clip;
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;

    }
}

@media(min-width: 1200px) {
    .portada-texto {
        margin-block-start: 280px;
    }
}